<?xml version="1.0" encoding="UTF-8"?>
<server description="BaseDownloader Server">

    <!-- Enable features -->
    <featureManager>
        <feature>localConnector-1.0</feature>
        <feature>adminCenter-1.0</feature>
        <feature>jakartaee-8.0</feature>
        <feature>restConnector-2.0</feature>
        <feature>microProfile-4.1</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
    			  host="*"
                  httpPort="9080"
                  httpsPort="9443">
	        <accessLogging enabled="true" logFormat="%h %i %u %t &quot;%r&quot; %s %b %D"/>
    </httpEndpoint>

	<!-- Default SSL configuration enables trust for default certificates from the Java runtime -->
	<ssl id="defaultSSLConfig" trustDefaultCerts="true"/>
	 
	<keyStore id="defaultKeyStore" password="${WLP_KEYSTORE_PASSWORD}"/>
	 
	<!-- Define  users -->
	<basicRegistry id="basic">
		<user name="${WLP_ADMIN_USERID}" password="${WLP_ADMIN_PASSWORD}"/>
	</basicRegistry>
	 
	<!-- A user with the administrator-role has full access to the Admin Center -->
	<administrator-role>
		<user>${WLP_ADMIN_USERID}</user>
	</administrator-role>
	 
	<!-- Allow AdminCenter to write configuration -->
	<remoteFileAccess>
		<writeDir>${server.config.dir}</writeDir>
	</remoteFileAccess>
	 
	<!-- Automatically expand WAR files and EAR files -->
	<applicationManager autoExpand="true"/>
	 
	<applicationMonitor updateTrigger="mbean"/>
	 
	<mpMetrics authentication="false"/>

	<logging maxFileSize="20" maxFiles="10" traceFileName="trace.log" traceFormat="BASIC" traceSpecification="eclipselink.sql=all"/>

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <!-- Chunk storage directory; override with <variable name="bd.chunk.dir" value="/your/path"/> -->
    <variable name="bd.chunk.dir" defaultValue="${java.io.tmpdir}/Base-Downloader" />

    <!-- Configures the application on a specified context root -->
    <webApplication contextRoot="base-downloader" id="BaseDownloader" location="base-downloader.war" name="BaseDownloader"/>

</server>
